{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 mx-auto card mb-4"> 
        <article class="card-body">
            <h4 class="mb-4">Register</h4>
            <form method="POST" novalidate>
                {% csrf_token %}
              {{ form.as_p }}
              <input class="btn btn-primary btn-sm" type="submit" value="Register">
            </form>
            <!-- form end.// -->
            <hr>
            <p class="mb-0">Already have an account? <a href="#">Sign in</a>
            </p>
          </article>
    </div>
{% endblock %}

