{% load base_tags %}

<header class="section-header">	
	<section class="header-main bg-white">
		<div class="container">
			<div class="row gy-3 align-items-center">
				<div class="col-lg-2 col-sm-4 col-4">
					<a href="http://bootstrap-ecommerce.com" class="navbar-brand">
						<img class="logo" height="40" src="https://via.placeholder.com/200x200">
					</a> <!-- brand end.// -->
				</div>
				<div class="order-lg-last col-lg-5 col-sm-8 col-8">
					<div class="float-end">
						 
						    {% if request.user.is_authenticated %}
							<a href="#" class="btn btn-light">
								<i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Dashboard  </span>
							</a>
							{% else %}
							<a href="{% url 'accounts:login' %}" class="btn btn-light">
								<i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign in  </span> 
							</a>
							{% endif %}
						<a href="#" class="btn btn-light"> 
							<i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>   
						</a>
						<a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> 
							<i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span> 
						</a>
			        </div>
				</div> <!-- col end.// -->
				<div class="col-lg-5 col-md-12 col-12">
					<form action="#" class="">
		              <div class="input-group">
		                <input type="search" class="form-control" style="width:55%" placeholder="Search">
		                <select class="form-select">
		                  <option value="">All type</option>
		                  <option value="codex">Special</option>
		                  <option value="comments">Only best</option>
		                  <option value="content">Latest</option>
		                </select>
		                <button class="btn btn-primary">
		                  <i class="fa fa-search"></i> 
		                </button>
		              </div> <!-- input-group end.// -->
		            </form>
				</div> <!-- col end.// -->
				
			</div> <!-- row end.// -->
		</div> <!-- container end.// -->
	</section> <!-- header-main end.// -->

	<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		<div class="container">
			<button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbar_main">
				<ul class="navbar-nav">
					{% category_navbar %}
				</ul>
			</div> <!-- collapse end.// -->
		</div> <!-- container end.// -->
	</nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->